<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body bgcolor="LightSeaGreen">
    <center>
    <h1>Welcome {{username}}</h1>
    <p>This is your profile page.</p><br/><br/><br/><br/><br/><br/>
        <div>Thank <h4>Mr/Miss {{username}}</h4> for creating this account.</div><br/><br/>

        <a href="{% url 'logout' %}">Logout</a>
    </center>
</body>
</html>
